# Backend Environment Variables

# Server
NODE_ENV=production
PORT=5000

# Database
MONGODB_URI="mongodb+srv://adarshsrivastavawork_db_user:cePbYCiRobld5qhP@cluster0.jqpxp1k.mongodb.net/?appName=Cluster0"

# JWT
JWT_SECRET=your-super-secret-jwt-key-change-this-in-production

# PayPal
PAYPAL_CLIENT_ID=ARXtn1vEQf6ZuOY-N0y6HSoQ7IjkEOrEdnyteXwk_0PmuJfdc5xJ2C49TxR0VJAU71xOb9n8kTyzTtBD
PAYPAL_CLIENT_SECRET=EJY0jWl4F_wwstSEOm3dZ3hZV_Wh_vpDkCDWtRXpTPpg1IA0jlR3D_YY1Vx-bKrABexrgyzpWPkaHV-8
PAYPAL_MODE=sandbox

# Frontend URL (for CORS)
CLIENT_URL=https://Becoolheating.com/
